.axion{
    -webkit-text-fill-color: #0000;
    background: linear-gradient(90deg, #0fc, #08f, #0fc);
    -webkit-background-clip: text;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
}